<div class="landing-container">
  <div class="info">
    <header class="header">
      <h1 class="title">ArchSoftMeasure</h1>
      <p class="subtitle">Evalúa tus habilidades técnicas y blandas con ArchSoftMeasure</p>
    </header>
  </div>
  <div class="button-container">
    <section class="button-group">
      <button class="action-button" (click)="goTo('form')">Presentar Test</button>
      <button class="action-button" (click)="goTo('search')">Buscar Resultados</button>
      <button class="action-button" (click)="goTo('info')">Información del Modelo</button>
    </section>
  </div>
  <div>
    <footer class="footer">
      <p>© 2024 ArchSoftMeasure. Todos los derechos reservados.</p>
    </footer>
  </div>
</div>

