<body>
<div class="landing-container">
    <header class="header">
        <h1 class="title">ArchSoftMeasure</h1>
        <p class="subtitle">Evalúa tus habilidades técnicas y blandas con ArchSoftMeasure</p>
    </header>

    <section class="button-group">
        <button class="action-button" >Presentar Test</button>
        <button class="action-button" >Buscar Resultados</button>
        <button class="action-button" >Información del Modelo</button>
    </section>

    <footer class="footer">
        <p>© 2024 ArchSoftMeasure. Todos los derechos reservados.</p>
    </footer>
</div>
</body>


