/* General Styles */
.landing-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  margin-bottom: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-left: 10px;
  margin: 0;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #ffffff;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 300;
  color: #a9c4d9;
}

/* Button Group */
.button-group {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button-container {
  align-self: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.action-button {
  background-color: rgba(30, 144, 255, 0.35); /* Azul con 50% de transparencia */
  color: #1e90ff; /* Color de texto (azul oscuro) */
  border: none;
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease; /* Suaviza las transiciones */
}

.action-button:hover {
  background-color: #1e90ff; /* Fondo azul oscuro */
  color: #fff; /* Texto blanco */
  transform: translateY(-2px);
}

.action-button:active {
  background-color: #0a74d1; /* Azul más oscuro al presionar */
  color: #fff;
  box-shadow: inset 0px 0px 5px #000; /* Efecto hundido */
}

/* Footer */
.footer {
  text-align: center;
  font-size: 0.8rem;
  color: #a9c4d9;
}

/* Responsive Design */
@media (max-width: 768px) {
  .button-group {
    flex-direction: column;
    gap: 15px;
  }

  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1rem;
  }
}
