.measurements-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  overflow-y: auto;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #0078d7;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

button {
  padding: 5px 10px;
  background-color: #0078d7;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056a4;
}

p {
  text-align: center;
  color: #555;
}

span {
  color: #121212;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 60vh;
  max-height: 90vh; /* Limita el alto máximo del contenedor al 90% de la pantalla */
  overflow-y: auto;
  width: 100vh;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.modal h2 {
  margin-top: 0;
  color: #0078d7;
}

.modal h3 {
  margin-bottom: 10px;
  color: #333;
}

.modal ul {
  list-style: none;
  padding: 0;
}

.modal ul li {
  padding: 5px 0;
  color: #555;
}

button {
  padding: 10px 15px;
  background-color: #0078d7;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
}

button:hover {
  background-color: #0056a4;
}
